.main-top-nav {
	background-color: #2BEDF4;
	font-family: arial;
}

ul#Navigation {
    margin: 0; padding: 0.8em;
    text-align: center;
    background-color: #7F9F97;
}

ul#Navigation li {
    list-style: none;
    display: inline;
    margin: 0.4em; padding: 0;
}

ul#Navigation a, ul#Navigation span {
    padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: white; border-top-color: white;
    color: white; background-color: #7F9F97;
    font-family: arial;
    text-shadow:black 2px 1px;
}

* html ul#Navigation a, * html ul#Navigation span {
    width: 1em;   
    width: auto;  
}

ul#Navigation a:hover, ul#Navigation span {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: #5F887E;
}

.main-all {
	text-align: center;
}

#menue p {
	font-family: Lucida Calligraphy;
	color: #219498;
	margin: 2px;
}

#seitengroesse {
	margin-left: 200px;
	margin-right: 200px;
	background-color: white;
}

a {
	 text-decoration: none;
	
}

body {
	background-color: #ACD3CA;
	text-align: center;
}

#banner {
	padding: 1px;
}

