

.main-top-nav {
	background-color: #2BEDF4;
	font-family: arial;
}

ul#Navigation {
    margin: 0; padding: 0.8em;
    text-align: center;
    background-color: #24A1A5;
}

ul#Navigation li {
    list-style: none;
    display: inline;
    margin: 0.4em; padding: 0;
}

ul#Navigation a, ul#Navigation span {
    padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: white; border-top-color: white;
    color: white; background-color: #219498;
}

* html ul#Navigation a, * html ul#Navigation span {
    width: 1em;   
    width: auto;  
}

ul#Navigation a:hover, ul#Navigation span {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: #1B797C;
}
  
.main_first_line {
	
	text-align: center;

} 
  
.main_second_line {
	text-align: center;

}

.main_third_line {
	text-align: center;

}

#ueberschrift {
	font-family: Lucida Calligraphy;
	color: #219498;
	position: absolute;
	left: 50px;
}

  
.main_all {
	top: 300px;
	left: 400px;
	position: absolute;
}

#seitengroesse {
	margin-top: 250px;
	margin-left: 200px;
	margin-right: 200px;
}

​
#abc {
	display:none;
}

#bild1:hover {
	
}